@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .nav-right {
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .btn {
    margin-top: 5px;
    width: 200px;
  }

  .logo {
    align-items: center;
  }

  header nav {
    margin-right: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}
